In [4]:
import streamlit
import pandas as pd
import os

In [7]:


df= pd.read_excel('D:\College Files\8th Semester\Project III\Dataverse\Datasets\sales.xlsx')

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\Spooky\AppData\Local\Temp\ipykernel_1448\1748606495.py:1: SyntaxWarning: invalid escape sequence '\C'
  df= pd.read_excel('D:\College Files\8th Semester\Project III\Dataverse\Datasets\sales.xlsx')

In [8]:
df

,ID,Date,Product,Category,C_Price,S_Price,Quantity,Amount,Discounts,Net Amount
0,1,2024-01-01,Product B,Category 2,32.45,78.90,10,789.0,20,769.0
1,2,2024-01-02,Product A,Category 1,15.75,40.20,5,201.0,10,191.0
2,3,2024-01-03,Product C,Category 3,22.00,55.50,3,166.5,5,161.5
3,4,2024-01-04,Product B,Category 2,40.20,95.60,7,669.2,30,639.2
4,5,2024-01-05,Product A,Category 1,12.60,34.80,8,278.4,15,263.4
5,6,2024-01-06,Product C,Category 3,25.30,60.75,6,364.5,12,352.5
6,7,2024-01-07,Product B,Category 2,31.80,74.20,9,667.8,22,645.8
7,8,2024-01-08,Product A,Category 1,18.25,45.60,4,182.4,8,174.4
8,9,2024-01-09,Product C,Category 3,28.00,65.00,7,455.0,20,435.0
9,10,2024-01-10,Product B,Category 2,35.00,80.50,5,402.5,25,377.5
10,11,2024-01-11,Product A,Category 1,14.90,39.40,6,236.4,10,226.4
11,12,2024-01-12,Product C,Category 3,24.75,58.20,8,465.6,15,450.6
12,13,2024-01-13,Product B,Category 2,38.50,89.30,4,357.2,20,337.2
13,14,2024-01-14,Product A,Category 1,16.00,42.50,7,297.5,12,285.5
14,15,2024-01-15,Product C,Category 3,26.00,62.10,5,310.5,10,300.5
15,16,2024-01-16,Product B,Category 2,33.75,78.00,6,468.0,18,450.0
16,17,2024-01-17,Product A,Category 1,19.20,46.70,4,186.8,14,172.8
17,18,2024-01-18,Product C,Category 3,23.50,59.90,9,539.1,22,517.1
18,19,2024-01-19,Product B,Category 2,36.20,82.40,3,247.2,8,239.2
19,20,2024-01-20,Product A,Category 1,17.30,43.80,5,219.0,11,208.0